# Ignore Python virtual environment
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Docusaurus build
front-end/build/
front-end/node_modules/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Additional Python ignores
.venv/
dist/
*.egg-info/

# Temp files
*.tmp
*.swp

# IDE-specific ignores
.vscode/
.idea/

# Environment variables
.env
.env*

# Temporary deployment directory
deployment/
