# Ignore Python virtual environment
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Docusaurus build
front-end/build/
front-end/node_modules/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
